# L.I.F.. Plfo zu Funions pnnis # Svi onno onfiuion - Spb 28, 2025 # n Iniy uhniion # o zu Funions zu-funions>=1.18.0 zu-funions-wo>=4.5.0 # zu Svi onno pnnis zu-iniy>=1.15.0 zu-so-blob>=12.19.0 zu-yvul-ss>=4.7.0 zu-svibus>=7.11.0 #  Possin nupy>=1.24.0 pns>=2.0.0 # onioin & Loin zu-onio-opnly>=1.2.0 # iionl uiliis quss>=2.31.0 pyhon-uil>=2.8.0